/* CSS RESET */
*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
/* CSS Variables */
:root{
    --navbar-height: 60px
}

/* Navigation Bar */
#navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
}

#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.3;
}
/* Navigation Bar: List styling */
#navbar{
    /* position: relative; */
}
#navbar ul{
    display: flex;
 font-family: Georgia, 'Times New Roman', Times, serif;
}
#navbar ul li{
    list-style: none;
    font-size: 1.7rem;
}
#navbar ul li a{
    color: white;
    display: block;
    padding: 22px 130px;
    border-radius: 13px;
    text-decoration: none;
}
#navbar ul li a:hover{
    color: black;
    background-color: white;
}
